
body{
    color:#414042 !important;
    font-family: EncodeSansRegular,sans-serif !important;
    font-size:1.1875rem;
  }
  
  /* Setting default font size starts here */
  BODY{
    font-size: 1.1875rem;
  }
  .form-wrapper div, .form-wrapper p, .form-wrapper a, .form-wrapper a:link, .form-wrapper a:visited{
    font-size:1.1875rem;
    line-height: calc(1.1875rem * 1.6);
   
  }
  
  .form-wrapper div, .form-wrapper p, .form-wrapper LI, .form-wrapper div[ref="html"] p span{
    color:#0b0c0c;
  }
  
  .form-wrapper a:hover, .form-wrapper  span[data-template] a:not([class]):hover, div[data-form="Review"] .form-control{
    font-size:1.1875rem !important;
  }
  /* Setting default font size ends here */
  
  .ExpressFormMainWrapper h1,.ExpressFormMainWrapper h2, .ExpressFormMainWrapper h3, .expressForm-confirm h1, .expressForm-confirm h2, .expressForm-confirm h3{
    font-weight:500 !important;
    font-family: ExpressForm Sans,sans-serif !important;
    color:#414042;
  }
  
  .expressform-page_header h1, .expressform-page_header h2{
    font-size: 3rem;
    font-family: ExpressForm Sans,sans-serif !important;
  }
  .expressform-section_header h2, .expressform-section_header h3{
    font-size: 2.25rem;
    font-family: ExpressForm Sans,sans-serif !important;
  }
  .error-red-text{
    color: #CF2659 !important;
  }
  
  /******************************
  * Logo Image Figure
  *******************************/
  .formio-component-content .image{
    margin:0;
  }
  
  /*********************************
  * Fixing choices dropdown
  **********************************/
  .choices__list--dropdown{
    z-index: 1000;
  }
  .choices__item.choices__item--selectable{
    padding-right:32px;
  }
  /***********************************
  * Hiding the aesterisk
  ************************************/
  .field-required:after, .tab-error::after {
    content: "";
    color: #EB0000;
  }
  div.ExpressFormMainWrapper{
    /*max-width:1500px;
    margin-left: auto;
    margin-right: auto;*/
  }
  /*.form-wrapper{
    width:960px !important;
    margin: auto auto auto 30px !important;
  }*/
  .form-wrapper{
    /*padding-bottom:60px;*/
  }
  
  
  .govuk-breadcrumbs__list-item > .govuk-breadcrumbs__link{
    color:#0077AF !important;
  }
  .govuk-accordion__section-header{
    border-top:1px solid #b1b4b6; 
    cursor:pointer;
  }
  
  @media screen and (min-width: 991px){
    .govuk-form-group{
      max-width:640px;
    }
    
  }
  
  @media screen and (max-width: 990px){
    .govuk-form-group{
      max-width:100%;
    }
  }
  
  @media screen and (max-width: 414px){
    .govuk-form-group{
      max-width:320px;
    }
    
    
  }
  
  .govuk-accordion__section-header:hover{
    background:#f3f2f1;
  }
  .govuk-accordion__section-button{
    margin-bottom:13px;
  }
  .govuk-accordion__section-button+.govuk-accordion__icon{
    display:flex;
    width:auto;
    position:relative;
    margin-top:13px;
    margin-bottom:13px;
    color:#0077AF;
    align-items:center;
  }
  .govuk-accordion__section-header:hover .govuk-accordion__section-button+.govuk-accordion__icon{
    color:#000000;
  }
  .govuk-accordion__section-button+.govuk-accordion__icon:after{
    content:"Show";
    font-size:18px;
  }
  .govuk-accordion__section-button+.govuk-accordion__icon:before{
    font-family: 'FontAwesome';
    content: "\f13a";
    font-size: 1.2rem;
    padding-right: 5px;
  }
  .govuk-accordion__section.govuk-accordion__section--expanded .govuk-accordion__section-button+.govuk-accordion__icon:after{
    content:"Hide" !important;
  }
  .govuk-accordion__section.govuk-accordion__section--expanded .govuk-accordion__section-button+.govuk-accordion__icon:before{
     content: "\f139" !important;
  }
  
  /* Buttons */.govuk-checkboxes__input
  .govuk-button{
    font-weight:700 !important;
  }
  .govuk-button:not([disabled]){
    box-shadow:0px 1px 1px 0px #00000040 !important;
  }
  .govuk-button:not([disabled]):hover{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;
  }
  .govuk-button:not(.govuk-button--secondary){
    background-color:#0077AF !important;
    border:3px solid transparent !important;
  }
  .govuk-button:not(.govuk-button--secondary):hover, .govuk-button:not(.govuk-button--secondary):focus{
    border:3px solid #FFDD00 !important;
  }
  .govuk-button:not(.govuk-button--secondary):focus{
    background: #FFDD00 !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;
    color:#414042 !important;
  
  }
  .alert.alert-success{
    border: 5px solid #088A20;
    font-size:24px;
    font-weight:700;
    color:#414042;
  }
  .alert.alert-success:before{
    display: flex;
     content: "Success";
      color: #fff;
      padding: 5px 5px 5px 15px;
      background: #088A20;
      margin-top: -15px;
      margin-left: -15px;
      margin-right: -15px;
    font-size:16px !important;
  }
  .govuk-checkboxes__input{
    width: 44px !important;
    height: 44px !important;
    margin: 0 !important;
    background-color:transparent !important;
  }
  /*.govuk-checkboxes__label:after{
    top:12px !important;
  }
  
  .govuk-checkboxes__item>.govuk-checkboxes__input:checked+.govuk-checkboxes__label:after{
    left:12px !important;
    
  }*/
  /*.govuk-checkboxes__label::after{
    left:10px !important;
    top:12px !important;
  }*/
  .govuk-checkboxes__item{
    position:relative;
  }
  .govuk-checkboxes__item input[type="checkbox"]:disabled {
    opacity:0;
    cursor: pointer !important;
  }
  .govuk-checkboxes__item input[type="checkbox"]:disabled + .govuk-checkboxes__label:before{
    box-sizing: border-box;
      position: absolute !important;
      top: 0px !important;
      left: 0px !important;
      width: 40px !important;
      height: 40px !important;
      transform: translateX(-40px) !important;
      border-width: 2px;
      border-style: solid;
      border-color: initial;
      border-image: initial;
    cursor: pointer !important;
  }
  .govuk-checkboxes__item input[type="checkbox"]:disabled + .govuk-checkboxes__label:after{
    left:-31px;
  }
  .govuk-button--secondary{
    border:3px solid transparent !important;
  }
  
  /**
  * Review Buttons
  **/
  .summary-page-footer{
    display: flex;
    width:100%;
    position:sticky;
      bottom: 0;
    max-width: 1500px;
    background: #C6C8C6;
    padding: 8px 21px;
    z-index: 500;
    box-shadow: 0 -6px 5px -3px rgba(0,0,0,0.75);
    /*max-width: calc(100vw - 360px);*/
    margin-bottom: 0;
    /*opacity:0;*/
  
  }
  .summary-page-footer>.submit-page-footer__grid{
    width: calc(50% - 8px);
  }
  .summary-page-footer>.submit-page-footer__grid:last-child{
    display:flex;
    justify-content:flex-end;
  }
  .summary-page-footer>.submit-page-footer__grid > button{
    display:inline-block;
    margin-bottom:0;
  }
  div.form-wrapper[data-form="Review"]{
    padding-bottom:70px;
  }
  
  .govuk-breadcrumbs{
    margin-bottom:15px;
  }
  h3, div[ref="html"] > h3{
    font-weight: 600;
  }
  LI{
    margin-bottom:8px;
  }
  .govuk-accordion__section-heading, .govuk-accordion__section-heading > .govuk-accordion__section-button{
    font-size: 2.25rem;
    font-weight:600;
  }
  /**************************************************
  * Styling GSP Portal Express Form
  * This will work if the Harness is Perform harness
  ***************************************************/
  .flex>.flex.content-item.content-sub_section>div.gsp-summary-form-wrapper{
    padding: 16px 0 16px;
    background: #ffffff;
    margin: 8px;
   
  }
  .gsp-summary-scroll-wrapper{
    display:block;
     max-height: 450px;
    /*overflow-y: auto;
    overflow-x:hidden !important;*/
    overflow:auto;
    padding:16px;
  }
  .gsp-summary-scroll-wrapper .expressform-static_page-footer{
    display:none;
  }
  @media screen and (min-width:1200px){
    .gsp-summary-scroll-wrapper .govuk-form-group.expressform-page_header{
      min-width:unset;
    }
    
    .gsp-summary-scroll-wrapper .govuk-checkboxes__item input[type="checkbox"]:disabled + .govuk-checkboxes__label:before{
      transform:translateX(0) !important;
    }
    
    .gsp-summary-scroll-wrapper .govuk-checkboxes__item input[type="checkbox"]:disabled + .govuk-checkboxes__label:after{
      left: 0;
      transform: translate(6px, -5px) rotate(310deg);
    }
  }
  .flex>.flex.content-item.content-sub_section>div.gsp-summary-form-wrapper div[data-form="Review"]{
    width: 100% !important;
    margin: 0 !important;
  }
  div.gsp-summary-form-wrapper > .gsp-summary_header{
    padding: 0 16px;
    display: flex;
    border-bottom: 1px solid #dadada;
  }
  div.gsp-summary-form-wrapper > .gsp-summary_header>.header_title{
   flex: 1 1 0; 
  }
  
  /***************************************
  Breadcrumbs
  ***************************************/
  .govuk-breadcrumbs{
    padding-bottom:23px;
  }
  .govuk-breadcrumbs__list-item{
   font-weight: bold !important;
    color: #000000 !important;
   font-family: ExpressForm Sans, sans-serif !important;
  
  }
  .govuk-breadcrumbs__list-item > .govuk-breadcrumbs__link{
    
    color: #666666 !important;
    text-decoration: none !important;
    font-weight:normal !important;
  }
  /***************************************
  Form group sections
  ***************************************/
  @media screen and (min-width:1024px){
    .govuk-form-group.expressform-section{
    margin-bottom:40px;
  }
    .govuk-form-group.expressform-section>.card.card-body{
      border-bottom:1px solid #C6C8C6;
      padding-bottom:40px;
    }
  }
  
  @media screen and (max-width:991px){
    .govuk-form-group.expressform-section{
    margin-bottom:30px;
  }
    .govuk-form-group.expressform-section>.card.card-body{
      border-bottom:1px solid #C6C8C6;
      padding-bottom:20px;
    }
  }
  
  @media screen and (max-width:414px){
    .govuk-form-group.expressform-section{
    margin-bottom:20px;
  }
  }
  
  @media (min-width: 40.0625em){
   .govuk-label {
      /*font-size: 1.0rem !important;
      line-height: 1.31579;*/
  } 
  }
  .govuk-form-group.expressform-page_header, .govuk-form-group.expressform-section_withCol{
    border-bottom:1px solid #C6C8C6;
  }
  .govuk-form-group.expressform-section_withCol{
    padding-bottom:40px;
  }
  @media screen and (min-width:1250px){
    .govuk-form-group.expressform-page_header{
      min-width:1200px;
      
    }
    
    /********************************************
     * Section with Col Desktop View
    ********************************************/
    .govuk-form-group.expressform-section_withCol{
      max-width:1200px;
      
    }
  }
  
  .expressform-wizard-page_hide{
    display: none !important;
  }
  
  /******************************************************
  * Express Form Footer
  *******************************************************/
  .govuk-form-group.expressform-page_footer{
    -webkit-sticky : sticky;
    position: sticky;
    /*position: fixed;*/
    width:100%;
    bottom: 0;
    /*max-width: 1500px;*/
    background: #C6C8C6;
    padding: 8px 21px;
    z-index: 500;
    box-shadow: 0 -6px 5px -3px rgba(0,0,0,0.75);
    /*max-width: calc(100% - 360px);*/
    max-width: 1500px;
    margin-bottom: 0;
  }
  .govuk-form-group.expressform-page_footer .govuk-error-message, .govuk-form-group.expressform-page_footer .govuk-label{
    display: none !important;
  }
  .govuk-form-group.expressform-page_footer button{
    margin-bottom: 0 !important;
  }
  .govuk-form-group.expressform-page_footer .govuk-grid-column-one-half{
    padding:0 !important;
  }
  .govuk-form-group.expressform-page_footer .formio-component-columns{
    max-width: unset;
      width: 100%;
      margin: 0;
      display: flex;
  }
  
  .govuk-form-group.expressform-page_footer .formio-component-columns>.govuk-grid-column-one-half{
    flex:1 0 50%;
    
  }
  .govuk-form-group.expressform-page_footer .formio-component-columns>.govuk-grid-column-one-half + .govuk-grid-column-one-half{
    display:flex;
    justify-content: flex-end;
  }
  
  .govuk-form-group.expressform-page_footer .formio-component-columns>.govuk-grid-column-one-half>.formio-component-columns{
    display: flex;
    justify-content: flex-end;
  }
  .govuk-form-group.expressform-page_footer .formio-component-columns>.govuk-grid-column-one-half>.formio-component-columns>.govuk-grid-column-one-half{
    flex: 0;
    width: auto;
    padding: 0 8px !important;
  }
  div[data-form="Review"] .govuk-form-group.expressform-page_footer{
    display: none !important;
  }
  .govuk-form-group.expressform-page_footer [ref="buttonMessageContainer"]{
    position:absolute !important;
    height:0 !important;
  }
  /******************************************
  * Non sticky page footer
  ******************************************/
  .govuk-form-group.expressform-static_page-footer{
    max-width: unset;
    min-width:1000px;
  }
  
  .govuk-form-group.expressform-static_page-footer div[ref="nested-pageFooter"]>.govuk-form-group {
    max-width:unset;
  }
  .govuk-form-group.expressform-static_page-footer div[ref="nested-pageFooter"] .govuk-\!-display-none{
    position:absolute;
  }
  .govuk-form-group.expressform-static_page-footer div[ref="nested-pageFooter"] .govuk-error-message{
    position: absolute;
  }
  
  .govuk-form-group.expressform-static_page-footer div[ref="nested-pageFooter"] .govuk-form-group.formio-component-columns >.govuk-grid-column-one-half:last-child{
    justify-content: flex-end;
      display: flex;
  }
  .govuk-form-group.expressform-static_page-footer div[ref="nested-pageFooter"] .govuk-form-group.formio-component-columns >.govuk-grid-column-one-half:last-child>.govuk-grid-column-one-half:first-child{
    display: flex;
      justify-content: flex-end;
  }
  .govuk-form-group.expressform-static_page-footer div[ref="nested-pageFooter"] .govuk-form-group.formio-component-columns >.govuk-grid-column-one-half:last-child .govuk-grid-column-one-half{
    padding-right: 0 !important;
  }
  div[node_name="ApproveRequestWrapper"] .govuk-form-group.expressform-page_header{
    min-width: unset;
  }
  /*******************************************************
  * Section column with 80 20 grid
  ********************************************************/
  .govuk-form-group.expressform-section_withCol .govuk-form-group.expressform-col-80_20{
    max-width:unset;
  }
  
  /****************************************************
  * Info Container
  *****************************************************/
  /*
  * BC Standard
  
  .govuk-form-group.expressform-info_container{
    border: 2px solid #0097E1;
    padding: 14px;
    display:flex;
    position:relative;
    
  }
  .govuk-form-group.expressform-info_container:before{
    content:"";
    width:60px;
    display:flex;
    background-image: url("webwb/TipIcon.png");
    background-repeat:no-repeat;
    background-size: 100%;
    margin-right: 21px;
  }*/
  
  
  .govuk-form-group.expressform-info_container{
    border: 5px solid #0077AF;
    padding: 48px 14px 14px;
    display:flex;
    position:relative;
    overflow:hidden;
    
  }
  .govuk-form-group.expressform-info_container:before{
    content: "Important";
      width: 60px;
      display: block;
      background-repeat: no-repeat;
      width: calc(100% + 16px);
      position: absolute;
      background: #0077AF;
      height: 48px;
      left: 0;
      top: 0;
      transform: translate(-16px, -16px);
      padding: 18px 14px 14px 32px;
      color: #fff;
      font-weight: bold;
  }
  .govuk-form-group.expressform-info_container h3, .govuk-form-group.expressform-info_container h4{
    margin-top:0;
  }
  
  /* Success */
  .govuk-form-group.expressform-info_success{
    border: 5px solid #088A20;
    padding: 48px 14px 14px;
    display:flex;
    position:relative;
    overflow:hidden;
    
  }
  .govuk-form-group.expressform-info_success:before{
    content: "Important";
      width: 60px;
      display: block;
      background-repeat: no-repeat;
      width: calc(100% + 16px);
      position: absolute;
      background: #088A20;
      height: 48px;
      left: 0;
      top: 0;
      transform: translate(-16px, -16px);
      padding: 18px 14px 14px 32px;
      color: #fff;
      font-weight: bold;
  }
  .govuk-form-group.expressform-info_success h3, .govuk-form-group.expressform-info_success h4{
    margin-top:0;
  }
  .govuk-form-group.expressform-info_success a {
    color: #088A20 !important;
  }
  
  .expressForm-confirm .bc-btd-confirm-harness-footer{
    position: sticky !important;
    bottom:0;
    z-index: 500;
  }
  /***************************************
  * Confirm Screen
  ***************************************/
  div[node_name="ConfirmMessageBody"] .expressform-confirm-message >.flex.content-item>.flex.content.expressform-confirm_icon{
    display:flex !important;
    justify-content:flex-end !important;
  }
  div[node_name="ConfirmMessageBody"] .expressform-confirm-message >.flex.content-item>.flex.content.expressform-confirm_icon>.content-item.flex{
    margin-bottom:0 !important;
    margin-top:8px !important;
  }
  div[node_name="ConfirmMessageBody"] .expressform-confirm-message .bc-container-bg-padding-2x{
    background-color:transparent;
    padding: 0;
  }
  div[node_name="ConfirmMessageBody"] .expressform-confirm-message .bc-container-bg-padding-2x.layout-outline>.header-bar>.header-content {
      margin: 0 0px 30px 0px;
  }
  .expressfrom-hide_section{
    display:none !important;
  }
  /*************************
  * Inflight
  *****************************/
  /*
  div[node_name="pyCaseMainAddInfo"] .gsp-summary-form-wrapper{
    max-width:800px;
  }
  */
  /*************************************
  * Hide Information from the Review screen
  **************************************/
   div[data-form="Review"] .govuk-form-group.expressform-info_container, div[data-form="Review"] .expressform-infopanel{
      display:none !important;
    }
  /************************************
  * Error Panel
  **************************************/
  .govuk-form-group.expressform-errorpanel .govuk-accordion__section{
    border:5px solid #d4351c;
    padding:0 !important;
  }
  .govuk-form-group.expressform-errorpanel .govuk-accordion__section-header{
    border: none !important;
    padding: 0 !important;
    cursor: unset !important;
  }
  .govuk-form-group.expressform-errorpanel .govuk-accordion__section-heading{
    background: #d4351c !important;
    padding: 8px 16px !important;
  }
  .govuk-form-group.expressform-errorpanel .govuk-accordion__section-heading > .govuk-accordion__section-button{
    padding: 0;
      font-size: 16px;
      color: #ffffff;
      margin: 0;
    display: block;
  }
  .govuk-form-group.expressform-errorpanel .govuk-accordion__section-content{
    padding:8px 16px;
  }
  
  /************************************
  * Information Panel
  **************************************/
  .govuk-form-group.expressform-infopanel .govuk-accordion__section{
    border:5px solid #0077AF;
    padding:0 !important;
  }
  .govuk-form-group.expressform-infopanel .govuk-accordion__section-header{
    border: none !important;
    padding: 0 !important;
    cursor: unset !important;
  }
  .govuk-form-group.expressform-infopanel .govuk-accordion__section-heading{
    background: #0077AF !important;
    padding: 8px 16px !important;
  }
  .govuk-form-group.expressform-infopanel .govuk-accordion__section-heading > .govuk-accordion__section-button{
    padding: 0;
      font-size: 16px;
      color: #ffffff;
      margin: 0;
    display: block;
  }
  .govuk-form-group.expressform-infopanel .govuk-accordion__section-content{
    padding:8px 16px;
  }
  
  /*****************************
  * Styling other buttons
  ******************************/
  .govuk-button .pzhc.pzbutton{
        background-color: #0077AF !important;
      border: 3px solid transparent !important;
  }
  .button__secondary .pzhc.pzbutton{
    background-color:#f3f2f1 !important;
    border:1px solid transparent !important;
    color: #0b0c0c !important;
  }
  .button__secondary button.pzbutton[class='pzhc pzbutton']:not([disabled]):hover{
    outline: unset !important;
    color: #0b0c0c !important;
  }
  
  
  .govuk-table__cell .govuk-button{ z-index: 1 !important;}
  .expressform-primary_btn .pzhc.pzbutton{
     background-color: #0077AF !important;
  }
  .expressform-primary_btn .pzhc.pzbutton:hover{
    border-color: #FFDD00 !important;
    outline-color:#FFDD00 !important;
  }
  
  /*********************************
  * Data grid hr
  **********************************/
  .dataGrid-hr{
   border-bottom: 2px solid #C6C8C6 !important;
  }
  /***********************************
  * Review Hidden
  ***********************************/
  div.form-wrapper[data-form="Review"] .expressform-hide_review{
    display: none !important;
  }
  /*****************************************************
  * Modifying BC default style for mid panel
  ******************************************************/
  @media screen and (min-width: 1200px){
  .enduser-header.flex.screen-layout-header_left > .screen-layout-region-main-middle {
      min-height:calc(100% - 80.0px) !important;
  }  
  }
  .section-hide.formio-component {
    display: none !important;
  }
  /*.formio-component-datagrid{
    overflow-x:auto;
  }*/
  
  /********************************************************
  * Adaptive CSS
  ********************************************************/
  @media screen and (min-width:1200px){
    .ExpressFormMainWrapper{
      padding-left:14px;
      padding-right:14px;
    }
    .expressform-confirm-message.flex.content-inline>.content-item.flex:nth-child(1){
      padding-right:32px;
    }
    /**
    * Table full width designed as there is a fixed width of the Component 640px
    **/
    .fullWidthTable.formio-component-datagrid.govuk-form-group{
      max-width:100%;
      min-width:1000px;
    }
  }
  @media screen and (min-width:1900px){
    .ExpressFormMainWrapper{
      padding-left:0;
      padding-right:0;
    }
    .expressform-confirm-message.flex.content-inline>.content-item.flex:nth-child(1){
      padding-right:unset;
    }
  }
  /********************************************************************************************************
  * Responsive mains
  *********************************************************************************************************/
  @media screen and (max-width:991px){
    .workarea-flex .workarea-view-scroll-wrapper{
      padding: 0 16px !important;
    }
    .govuk-form-group{
      padding-left:0 !important;
      padding-right: 0 !important;
      max-width:100% !important;
    }
    .govuk-breadcrumbs, .govuk-breadcrumbs a{
      font-size: 0.875rem !important;
    }
    .govuk-form-group.expressform-page_footer{
      padding-left:8px !important;
      padding-right: 8px !important;
    }
    .govuk-form-group.expressform-info_container{
      padding: 48px 14px 14px !important;
    }
    
    .submit-page-footer__grid:last-child{
      width: calc(100% - 0px);
    }
    .submit-page-footer__grid > .govuk-button{
      max-width:80px;
    }
    .summary-page-footer>.submit-page-footer__grid > button{
      margin-right:16px;
    }
    .summary-page-footer>.submit-page-footer__grid > button:last-child{
      margin-right:0;
    }
  }
  
  @media screen and (max-width:767px){
    
    .ExpressFormMainWrapper{
      /*padding-left:8px;*/
    }
    .expressform-page_header h1, .expressform-page_header h2{
      font-size: 2.0rem;
    }
    .expressform-section_header h2, .expressform-section_header h3{
      font-size:1.5rem;
    }
    .govuk-form-group.expressform-page_footer button{
      max-width: 90px;
    }
    .summary-page-footer > .submit-page-footer__grid{
      display:flex;
    }
   
    .expressform-confirm-message{
      display:flex !important;
      flex-direction: column !important;
      padding:0 16px !important;
      width:100vw !important;
    }
    .expressform-confirm-message .flex.content-bc_labels_left>.flex.content-item{
      flex-direction: column;
    }
    .expressform-confirm-message .flex.content-bc_labels_left>.flex.content-item>.field-caption{
      flex:0;
    }
    
    .govuk-breadcrumbs{
      /*padding-left:16px !important;
      padding-right:16px !important;*/
    }
  }
  .Review_Main{
    /*opacity:0;*/
  }
  .preloader-mask{
    display:block;
    position: fixed;
    width:calc(100vw - 230px);
    height:calc(100vh - 60px);
    z-index:1000;
    top:0;
    left:0;
  }
  
  .preloader-mask > .loader{
    width: 60px;
      height: 60px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  /* form-check box for Can't find*/
  .form-check .form-check-label , .left-padded_label-with-checkbox label{
    display: flex;
    align-items: center;
  }
  .form-check .form-check-label>span, .left-padded_label-with-checkbox label>span{
    padding-left: 8px;
    
  }
  div[data-form="Review"] .formio-component-address .form-check{
    display:none !important;
  }
  .form-control.custom-placeholder::-webkit-input-placeholder,.form-control.custom-placeholder::placeholder {
    font-size:16px !important;
    color:#000 !important;
  }
  div[ref="data_whatHappensNext"]{
    display:none;
  }
  
  .renewal-notification .flex.content-inline_grid_30_70>.content-item.remove-all-spacing:nth-child(2n+1){
      padding-right: 4px !important;
      flex: 1 0 5% !important;
      max-width: 5% !important;
  }
  
  .renewal-notification .flex.content-inline_grid_30_70>.content-item.remove-all-spacing:nth-child(2n+2){
   max-width: unset !important;
   flex-basis: calc(95% - 4px) !important;
   justify-content: flex-start !important; 
    }
  
  @media screen and (max-width: 767px){
    .renewal-notification .flex.content-inline_grid_30_70>.content-item.remove-all-spacing:nth-child(2n+1){
       padding-right: 4px !important;
      flex: 1 0 100% !important;
      max-width: 100% !important;
    }
  }
  
  .form-control::-webkit-input-placeholder{
    color: #737373 !important;
    font-size: 16px !important;
  }
  /*for dropdown menu with delete/close/X icon - setting placeholder to opacity:1 for Accessibility compliant*/
  div[data-deletable] {
     /* opacity: 0.7;*/
  }
  .choices__placeholder{
    color: #737373 !important;
    opacity:1;
  }
  .choices[data-type*=select-one] .choices__button{
    opacity:0.7;
  }
  /*For canvas element - signature*/
  .signature-pad-body:focus{
    outline: 3px solid #FFDD00;
    outline-offset: -2px;
    box-shadow: inset 0 0 0 2px !important;
  }
  /*For autocomplete - Close icon padding for text overflow issue and settingfocus*/
  .address-autocomplete-container > input{
    padding-right: 32px !important;
  }
  .address-autocomplete-remove-value-icon:focus{
    border-radius: 10em;
    box-shadow: 0 0 0 2px #FFDD00;
  }
  
  /*Accessibility BC-3450 - Setting footer in forms like Aip to avoid element focus hiding behind footer */
  .govuk-form-group.expressform-page_footer{
    position: relative;
  }
  .btn.formio-button-remove-row > .fa{
    font-size: 2.25rem;
  }
  
  /* BC-4046 */
  .gsp-summary-form-wrapper input[type="checkbox"]:disabled + label, 
  .gsp-summary-form-wrapper [data-ctl="Checkbox"] input[type="checkbox"]:disabled + label, 
  .gsp-summary-form-wrapper .flex.content > .flex.content-item input.checkbox:disabled + label, 
  .gsp-summary-form-wrapper .flex.content > .flex.content-item > .checkbox input.checkbox:disabled + label, 
  .gsp-summary-form-wrapper .content-item>.content-inner>.field-item>.checkbox input.checkbox:disabled + label{
    position: static;
  }
  /* BC-3566 Hide Placeholder Text on Review Screen */
  div[data-form="Review"] ::-webkit-input-placeholder, div[data-form="Review"] :-moz-placeholder, 
  div[data-form="Review"] ::-moz-placeholder, div[data-form="Review"] :-ms-input-placeholder{
    color: transparent !important;
  }
  div[data-form="Review"] input::placeholder{
    color: transparent !important;
  }
  /* NZBN Address Default Styles starts */
  .nzbnAPI-mainWrapper .govuk-grid-column-two-thirds{
    padding: 0 4px 0 15px;
    width:90%;
  }
  .nzbnAPI-mainWrapper .govuk-grid-column-one-quarter{
    padding: 0 0 0 4px;
    width: calc(10% - 4px);
  }
  
  .nzbnAPI-mainWrapper .formio-component.edit-buttons:before{
    display:block;
    content:"";
    height:40px;
  }
  .address-field-editable {
          display: none;
        }
        .hide-fromlist {
          display: none;
        }
        .address-field-editable__show.address-field-editable{
          display: block;
      }
      .edit-textBox_radio > .form-check{
       padding-left: 0;
       position: relative;
      }
      .edit-textBox_radio  .form-check-label{
          padding: 8px 16px;
      background: #007bff;
      color: #fff;
      border-radius: 3px;
      overflow: hidden;
      cursor: pointer;
      }
      .edit-textBox_radio input[type=checkbox]{
          position: absolute;
      opacity: 0;
      }
      .revert-address{
          display:none;
      }
      button.btn-hide{
          display:none !important;
      }
      button.btn-show{
          display:inline-block !important;
      }
  .addressField-editable-on .address-field-default{
    display:none !important;
  }
  .addressField-editable-on .address-field-editable{
    display:block !important;
  }
  
  .addressField-editable-on .nzbnAPI-mainWrapper > div[ref*="column-"]:last-child{
    display:none !important;
  }
  .addressField-editable-on .nzbnAPI-mainWrapper > div[ref*="column-"]:first-child{
    width:100% !important;
    padding-right:0 !important;
  }
  div[data-form="Review"] .edit-buttons{
    display:none !important;
  }
  .nested-hide_show legend{
    display: none !important;
  }
  .govuk-form-group.address-field-editable__show{
    /*min-width:640px;*/
  }
  .element-hide{
    display: none !important;
  }
  /* NZBN Address Default Styles ends */
  
  /* BC-4498 */
  .autocomplete > div:hover:not(.group), .autocomplete > div.selected {
      background: #f2f2f2;
      color: #333;
  }
  
  /* PreInit Flow */
  .workarea-view-harness.bc-harness-personal_details.preinit-harness{
    padding: 0 14px;
  }
  .preinit-harness .workarea-flex .workarea-view-header.workarea-view-header-fixed{
    box-shadow: none;
  }
  .express-form_header.layout-outline>.header-bar{
    padding:0;
    border-bottom: 1px solid #C6C8C6;
    max-width:1200px;
  }
  
  .express-form_header.layout-outline>.header-bar h1{
    font-size: 48px !important;
    
  }
  .preinit-harness h1, .preinit-harness h2, .preinit-harness h3, .preinit-harness h4, .preinit-harness h5{
    font-family: ExpressForm Sans, sans-serif !important;
    color: #414042 !important;  
    font-weight:500 !important;
    margin-top:20px !important;
    margin-bottom:10px !important;
  }
  .preinit-harness .express-form-field-wrapper.flex.content{
    max-width:640px;
  }
  .preinit-harness select{
    font-family: EncodeSansRegular,sans-serif !important;
     -webkit-font-smoothing: antialiased !important;
      -moz-osx-font-smoothing: grayscale !important;
      font-weight: 400 !important;
      font-size: 1rem !important;
      line-height: 1.25 !important;
      box-sizing: border-box !important;
      width: 100% !important;
      height: 2.5rem;
      margin-top: 0;
      padding: 5px !important;
      border: 2px solid #0b0c0c !important;
      border-radius: 0 !important;
      -webkit-appearance: none !important;
      appearance: none !important;
     border-radius: 0;
  }
  .preinit-harness SELECT.standard:not([disabled]):hover{
    outline:none;
  }
  
  .preinit-harness SELECT.standard:not([disabled]):focus{
    outline: 3px solid #fd0 !important;
      outline-offset: 0;
      box-shadow: inset 0 0 0 2px !important;
      border-color: unset;
  }
  
  .preinit-harness label{
    font-size: 19px !important;
    margin-bottom:5px !important;
  }
  /*****************************************
  * Added Hide show Components CSS Class
  ********************************************/
  .ef-hideComponent.govuk-form-group{
    display:none;
    visibility: hidden;
  }
  .ef-showComponent.govuk-form-group, .govuk-form-group.ef-showComponent.ef-hideComponent{
    display:block !important;
    visibility: unset !important;
  }
  
  /***************************************
  ** GSP Config Fields
  ****************************************/
  .ef-gsp-configuration.form-group{
    display:none;
  }
  div[data-summary] .ef-gsp-configuration.form-group{
    display:block;
  }