// Colors
$base-text-color: #414042;

// Font Weights
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

//Font Size
$base-font-size: 1.875rem;
$font-16: 16px;
$font-size-xl: 3.625rem;
$font-size-ml: 2.25rem;

// Font Family
$font-family-default: ExpressForm Sans, sans-serif;

// Width
$width-100: 100%;
