<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>:grinning: BC External</title>
    <!-- <link rel="stylesheet" href="../dist/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/formio.full.min.css"> -->
    <!-- <link rel="stylesheet" href="../modules/gds/formio-gds.css"> -->
    <link rel="stylesheet" href="../dist/formio-external.css" />
  </head>
  <body>
    <div class="ExpressFormMainWrapper">
      <div id="formio" data-form="6571211704809560fd86b66a" data-staging="sandpitForm" class="form-wrapper"></div>
    </div>
    <footer class="one-page-footer" aria-label="Footer">
      <div class="footer-wrapper">
        <div class="footer-column">
          <span class="sr-only"><span lang="mi">Te Kāwanatanga o Aotearoa</span> / </span>
          <img src="../imgs/footerLogoLeft.png" width="270" alt="New Zealand Government" />
        </div>
        <div class="footer-column">
          <img src="../imgs/fb_logo.png" width="250" alt="Powered by FormBuilder.Government" />
          <span class="sr-only"><span lang="mi">Powered by FormBuilder.Government</span> / </span>
        </div>
      </div>
    </footer>

    <script src="../dist/formio.full.min.js"></script>
    <script src="../dist/gds_latest.js"></script>
    <!-- <script src="https://bc-external.pages.dev/dist/gds_latest.js"></script>  -->
    <script src="../dist/main.js"></script>

    <!-- <script src="https://bc-external.pages.dev/dist/main.js"></script> -->
  </body>
</html>
