<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:grinning: BC External</title>
    <!-- <link rel="stylesheet" href="../dist/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/formio.full.min.css"> -->
    <link rel="stylesheet" href="../modules/gds/formio-gds.css">
</head>
<body>
    <div class="form-wrapper">
        <div id="formio" data-form="64b5bc7202505c16e8a54323"></div>
    </div>
    <script src="../dist/test.js"></script>
    <script src="../dist/formio.full.min.js"></script> 
    <script src="https://bc-external.pages.dev/dist/gds_latest.js"></script> 
   
    <script src="https://bc-external.pages.dev/dist/main.js"></script>
</body>
</html>