<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../dist/formio-external.css">
</head>

<body>
    <div ref="component" class="govuk-form-group ef-confirmation ef-showComponent" id="eie5dkq">

        <div class="card card-body bg-light mb-3">
            <div ref="nested-thankYouDetails">
                <div ref="component"
                    class="govuk-form-group formio-component formio-component-content formio-component-thank-you-heading page-heading"
                    id="eg5jijl">

                    <div ref="html" class="formio-component-htmlelement">
                        <h2>Thank You</h2>
                    </div>


                </div>
                <div ref="component"
                    class="govuk-form-group formio-component formio-component-content formio-component-content10"
                    id="ezqqllk">

                    <div ref="html" class="formio-component-htmlelement">
                        <p><span style="background-color:rgb(255,255,255);color:rgb(65,64,66);">Your request has been
                                successful.</span></p>
                        <h3 style="margin-left:0px;">What happens next</h3>
                        <p style="margin-left:0px;"><span
                                style="background-color:rgb(255,255,255);color:rgb(0,0,0);">Your application will be
                                processed by NZTE who may contact you for further information if needed.&nbsp;</span>
                        </p>
                        <p style="margin-left:0px;"><span style="background-color:rgb(255,255,255);color:rgb(0,0,0);">If
                                you have any questions contact </span><a
                                href="mailto:AIPacceptableinvestments@nzte.govt.nz">AIPacceptableinvestments@nzte.govt.nz</a><span
                                style="background-color:rgb(255,255,255);color:rgb(0,0,0);"> with your Application ID
                                number.</span></p>
                    </div>


                </div>
                <div ref="component"
                    class="govuk-form-group formio-component formio-component-content formio-component-info-content tips-container"
                    id="edihatf">

                    <div ref="html" class="formio-component-htmlelement">
                        <p><span style="background-color:rgb(255,255,255);color:rgb(65,64,66);">If you think emails
                                aren’t arriving into your inbox, please check your junk or spam folders.</span></p>
                    </div>


                </div>


            </div>
        </div>


    </div>
</body>

</html>